/* Versão Mobile First */
/* Typical Device Brekpoints
-----------------------------
Pequenas telas : até 600px
Celular: de 600px até 780px
tablet: 769 até 1024px 
Desktop: 1024px até 1280px
Grades tela: acima de 1280px
*/

@media print{

}
@media screen and(min-width: 481px) and (max-width: 768px) {  /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
}

@media screen and(min-wisth:1024px) and (max-width: 1280px) { /* DESKTOP */

}
@media screen and(min-wisth: 1280px) {/* GRANDES TELA */

}
