.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(198, 222, 174);
    margin: 0%;
}
nav{
 background-color: #32FAD4;
 padding: 5px;
}
nav > a {
    text-decoration: dashed;
    font-weight: bold;
    margin-right: 30px;
}
nav > a:host{
    text-decoration:underline;
}

header{
    background-color:white ;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
footer{
    font-family: 'Boldonse', Times, serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0;
}